html,
body,ul{
    margin: 0px;
    padding: 0px
}

.content {
    display: flex
}

.left {
    background-color: blue;
    flex: 1;
    height: 100px;
}

.middle {
    background-color: green;
    flex: 1;
}

.right {
    background-color: red;
    flex: 1
}

.title {
    text-align: center;
    position: relative;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}

.title a {
    color: grey;
}

.title a:hover {
    color: blue;
}

.second-left {
    width: 200px;
    position: absolute;
    left: 0px;
    height: 200px;
    background-color: lightgray
}

.second-right {
    width: 200px;
    position: absolute;
    right: 0px;
    height: 200px;
    background-color: lightgray
}

.second-main {
    margin: 0 210px;
    background-color: gold;
    height: 200px;
}

.fifth-left {
    float: left;
    width: 200px;
    background-color: lightgray;
    height: 200px;
    margin-left: -100%
}

.fifth {
    overflow: hidden
}

.fifth-main {
    width: 100%;
    height: 200px;
    float: left;
}

.fifth-main .body {
    background-color: gold;
    height: 200px;
    margin: 0 210px;
}

.fifth-right {
    float: left;
    margin-left: -200px;
    width: 200px;
    background-color: lightgray;
    height: 200px;
}

.third-content {
    display: flex;
    height: 200px;
}

.third-left {
    flex-basis: 200px;
    background-color: lightgray
}

.third-main {
    flex-grow: 1;
    background-color: gold;
    margin: 0 10px
}

.third-right {
    flex-basis: 200px;
    background-color: lightgray
}

.title::after {
    border: 10px solid #fff;
    border-right-color: #EBEBEB;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 900px;
    top: 2px;
    content: "";
    clear: both;
}

.title::before {
    border: 10px solid #fff;
    border-left-color: #EBEBEB;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 2px;
    left: 540px;
    content: "";
    clear: both;
}

.fourth-middle {
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
}

.fourth-left {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: -100%;
    text-align: center;
    background-color: lightgrey
}

.fourth-right {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: -200px;
    text-align: center;
    background-color: lightgrey
}

.middle-inner {
    margin: 0 210px;
    height: 200px;
    background-color: gold
}

.fourth {
    overflow: hidden;
}

.sixth div:not(:first-child) {
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
    background-color: gold
}

.sixth div:not(:first-child):hover {
    width: 50%;
    background-color: blue
}

.media2 {
    transition-timing-function: ease
}

.media3 {
    transition-timing-function: ease-in
}

.media4 {
    transition-timing-function: ease-out
}

.media5 {
    transition-timing-function: ease-in-out
}

.sixth {
    height: 600px;
}

.seventh {
    text-align: center;
    height: 200px;
}

#div1{
    border: 1px solid #aaa;
    width: 100px;
    height: 66px;
    padding: 10px;
    margin: auto;
}
#div2{
    margin: auto;
    border: 1px solid #aaa;
    width: 100px;
    height: 66px;
    padding: 10px;
}
.content{
    display: flex;
}
.eighth{
    height: 800px;
}
#div3{
    width: 200px;
    height: 200px;
    border: 1px solid #aaa;
    margin: auto;
    padding: 15px
}
/* #div3 li{
    list-style-type:none;
}

#div3 li a:hover{
    color: blue
} */
.div3-item{
    width: 100%;
    height: 20px;
}
.div3-item:hover{
    background: #7fd0f74f
}